@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Outfit", sans-serif;
  --font-body: "Poppins", sans-serif;
  
  --color-band-black: #000000;
  --color-band-green: #0ED894;
  --color-band-cream: #EBF5DF;
  --color-band-gray-dark: #1F1F1F;
  --color-band-gray-medium: #888888;
}

body {
  background-color: var(--color-band-black);
  color: var(--color-band-cream);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
